@font-face {
  font-family: "iconfont"; /* Project id 3543115 */
  src: url('iconfont.woff2?t=1658641602601') format('woff2'),
       url('iconfont.woff?t=1658641602601') format('woff'),
       url('iconfont.ttf?t=1658641602601') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shucai-1:before {
  content: "\e672";
}

.icon-jiangbingren:before {
  content: "\e60c";
}

.icon-shengjiang:before {
  content: "\e8e0";
}

.icon-shucai-:before {
  content: "\e607";
}

